<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.analysis.mapper.SystemCourierMapper">

    <insert id="batchInsert">
        insert into system_courier(id,order_number,shop_name,good_name,send_date,courier_number,courier_name,goods_weight,
        source_status)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.orderNumber},#{item.shopName},#{item.goodName},#{item.sendDate},#{item.courierNumber},#{item.courierName},#{item.goodsWeight},
            #{item.sourceStatus})
        </foreach>
    </insert>

</mapper>
